# Virtual environments
.venv/

# IDE / editor configs
.idea/
.DS_Store

# Temporary / scratch files
tmp_results.txt
tmp.pdb
/tmpFolder/
foldseek_temp.txt

# data
/similarity_score/test_pdbs/
/similarity_score/error.txt
#data/casp14_test/casp14_emb/*

# Helper scripts
utils/pdb_to_fasta.py
utils/ly6.ipynb

# models
models/*.pt

# run out
slurm_out/
models/model_out
models/model_files

#wandb api key
wandb_key