# Virtual environments
.venv/

# IDE / editor configs
.idea/
.DS_Store

# Temporary / scratch files
tmp_results.txt
tmp.pdb
/tmpFolder/
foldseek_temp.txt

# data
/similarity_score/test_pdbs/
/similarity_score/error.txt
#data/casp14_test/casp14_emb/*

# Helper scripts
utils/pdb_to_fasta.py
utils/ly6.ipynb

# models
models/*.pt
models/foldtoken_decoder/model_zoom/

# run out
slurm_out/
models/model_out
models/model_files
train_run/
tmp_jobs/
grid_search_out/

#wandb
wandb_key
wandb/

# pychache
models/simple_classifier/__pycache__/
models/__pycache__/
models/foldtoken_decoder/src/__pycache__/
models/foldtoken_decoder/__pycache__/
models/foldtoken_decoder/src/__pycache__
models/foldtoken_decoder/src/constants/__pycache__/
models/foldtoken_decoder/src/data/__pycache__/
models/foldtoken_decoder/src/utility/__pycache__/
models/foldtoken_decoder/src/layers/structure/__pycache__/
models/foldtoken_decoder/src/layers/__pycache__/
models/prot_t5/__pycache__/

/container/f_token2.tar.gz
/data/large/
