# Virtual environments
.venv/

# IDE / editor configs
.idea/
.DS_Store

# Temporary / scratch files
tmp_results.txt
tmp.pdb
/tmpFolder/
foldseek_temp.txt

# data
/similarity_score/test_pdbs/
/similarity_score/error.txt
#data/casp14_test/casp14_emb/*

# Helper scripts
utils/pdb_to_fasta.py
utils/ly6.ipynb

# models
models/*.pt

# slurm outs
train_std_err.err
train_std_output.out
split_std_err.err
split_std_output.out